<!-- BEGIN ABOUT  -->
<section id="about">
    <div class="section-wrapper2">
        <div class="col-md-2 col-md-offset-2">
            <div class="pict">
                <img src="/images/people-1.jpg" alt="Team 1">
            </div>
        </div>
        <div class="section-title">
            <h2 class="title animatez" data-effect="fadeInDown">CONTACT SISSY RILEY</h2>
            <h3 class="subtitle animatez">(650) 290-2200</h3>
            <h4 class="subtitle animatez" data-effect="fadeInUp">
                <span class="main-color">Trust and integrity</span>&nbsp;driving real estate opportunities
            </h4> 
        </div>
    </div>
    <div class="section-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mg-sm animatez" data-effect="fadeInUp">
                        <i class="fa fa-group fa-5x main-color"></i>
                        <h3>
                            <strong>Property Owners</strong>
                        </h3>
                        <p>Services include pricing and market consultation, professional marketing materials, full inspection services, seller satisfaction guarantee, comparative market analysis to find the right buyer for your property</p>
                    </div>
                    <div class="col-sm-4 mg-sm animatez delay one" data-effect="fadeInUp">
                        <i class="fa fa-hospital-o fa-5x main-color"></i>
                        <h3>
                            <strong>Specialized Market Knowlege</strong>
                        </h3>
                        <p>Focused on the San Mateo, San Francisco, Santa Clara and Alameda counties in Califonia, Sissy has worked with countless buyers with various ranges of investment experience to efficiently navigate the documentation, escrow and close process</p>
                    </div>
                    <div class="col-sm-4 mg-sm animatez delay two" data-effect="fadeInUp">
                        <i class="fa fa-pencil fa-5x main-color"></i>
                        <h3>
                            <strong>REO</strong>
                        </h3>
                        <p>Sissy has experience with REO assets and offers services including same day occupany checks, multi-lingual cash for keys negotiations, BPO delivery within 72 hours, contractor oversight for rehabilitation and repair, landscaping management and inspection updates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer big"></div>
    <div class="section-fill bg-parallax bg-about" style="background:url('/images/bg-about.jpg');">
        <div class="fill-wrapper">
            <div class="section-title">
                <h2 class="title white animatez" data-effect="fadeInDown">COMMERCIAL REAL ESTATE EXPERIENCE</h2>
                <h4 class="subtitle animatez" data-effect="fadeInUp">
                    <span class="main-color">Hear from satisfied clients</span>
                </h4>
                <div class="spacer medium"></div>
                <a href="#portfolio" class="btn-outline white animatez" data-effect="fadeIn">CLIENT TESTIMONIALS&nbsp;&nbsp;&rarr;</a>
            </div>
        </div>
    </div>
</div>
</section>
            <!-- END ABOUT -->