  <!-- BEGIN SERVICES -->
  <section id="services">
    <div class="section-wrapper">
        <div class="section-title">
            <h2 class="title animatez" data-effect="fadeInDown">TRUST AND INTEGRITY</h2>
            <h4 class="subtitle animatez" data-effect="fadeInUp">driving
                <span class="main-color">commercial real estate</span>&nbsp;investment opportunities</h4>
            </div>
            <hr class="title-break">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- LEFT ICON -->
                        <div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
                            <div class="left-icon">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="left-content">
                                    <h4>
                                        <strong>Client Services</strong>
                                    </h4>
                                    <p>Sissy offers comprehensive services ranging from comparative market analysis to comprehensive marketing, legal document preparation and pricing negotiations.  Her experience spans from core and core-plus properties to 1031 exchanges and REOs </p>
                                </div>
                            </div>
                        </div>
                        <!-- LEFT ICON -->
                        <div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
                            <div class="left-icon">
                                <div class="icon">
                                    <i class="fa fa-comments-o"></i>
                                </div>
                                <div class="left-content">
                                    <h4>
                                       <strong>Professional Affiliations</strong>
                                   </h4>
                                   <p>National Association of Realtors (NAR), California Association of Realtors (CAR), San Mateo County Association of Realtors (SAMCAR), National Association of Hispanic Real Estate Professionals (NAHREP), Asian Real Estate Association of America (AREAA) </p>
                               </div>
                           </div>
                       </div>
                       <!-- LEFT ICON -->
                       <div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
                        <div class="left-icon">
                            <div class="icon">
                                <i class="fa fa-folder-open-o"></i>
                            </div>
                            <div class="left-content">
                                <h4>
                                 <strong>Industry Experience</strong>
                             </h4>
                             <p>Prior to Lucky Investment, Sissy closed hundreds of transactions with Prudential Calfornia Realty, Marshall Realty, Patriot Properties and Century 21 Commercial and served as a Vice President of a Chinese development firm</p>
                         </div>
                     </div>
                 </div>
                 <!-- LEFT ICON -->
                 <div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
                    <div class="left-icon">
                        <div class="icon">
                            <i class="fa fa-hdd-o"></i>
                        </div>
                        <div class="left-content">
                            <h4>
                                <strong>Double Security</strong>
                            </h4>
                            <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
                        </div>
                    </div>
                </div>
                <!-- LEFT ICON -->
                <div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
                    <div class="left-icon">
                        <div class="icon">
                            <i class="fa fa-male"></i>
                        </div>
                        <div class="left-content">
                            <h4>
                                <strong>Northern California Network</strong>
                            </h4>
                            <p>Sissy has build deep broker relationships over the course of several decades </p>
                        </div>
                    </div>
                </div>
                <!-- LEFT ICON -->
                <div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
                    <div class="left-icon">
                        <div class="icon">
                            <i class="fa fa-anchor"></i>
                        </div>
                        <div class="left-content">
                            <h4>
                                <strong>Sailor Dedicated</strong>
                            </h4>
                            <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer big"></div>
    <!-- BEGIN SKILL -->
    <div class="section-fill bg-parallax bg-skill" style="background-image: url(/images/bg-service.jpg);">
        <div class="fill-wrapper">
            <div class="section-title">
                <h2 class="white animatez" data-effect="fadeInDown">
                    <strong>SKILL</strong>
                </h2>
                <hr class="title-break">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skill-bar">
                            <ul>
                                <li>
                                    <div class="bar" data-value="100">
                                        <h5>Branding</h5>
                                    </div>
                                    <span>10 / 10</span>
                                </li>
                                <li>
                                    <div class="bar" data-value="85">
                                        <h5>Elegant</h5>
                                    </div>
                                    <span>8.5 / 10</span>
                                </li>
                                <li>
                                    <div class="bar" data-value="92">
                                        <h5>Quality</h5>
                                    </div>
                                    <span>9.2 / 10</span>
                                </li>
                                <li>
                                    <div class="bar" data-value="81">
                                        <h5>Creative</h5>
                                    </div>
                                    <span>8.1 / 10</span>
                                </li>
                                                <!-- STATIC ( NOT ANIMATED) SKILL BAR 
                                                <li>
                                                    <div class="bar" style="width:100%;">
                                                        <h5>Branding</h5>
                                                    </div>
                                                    <span>10 / 10</span>
                                                </li>
                                                <li>
                                                    <div class="bar" style="width:85%;">
                                                        <h5>Elegant</h5>
                                                    </div>
                                                    <span>8.5 / 10</span>
                                                </li>
                                                <li>
                                                    <div class="bar" style="width:92%;">
                                                        <h5>Quality</h5>
                                                    </div>
                                                    <span>9.2 / 10</span>
                                                </li>
                                                <li>
                                                    <div class="bar" style="width:81%;">
                                                        <h5>Creative</h5>
                                                    </div>
                                                    <span>8.1 / 10</span>
                                                </li>
                                            -->
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="skill-bar">
                                        <ul>
                                            <li>
                                                <div class="bar" data-value="90">
                                                    <h5>Branding</h5>
                                                </div>
                                                <span>9 / 10</span>
                                            </li>
                                            <li>
                                                <div class="bar" data-value="65">
                                                    <h5>Elegant</h5>
                                                </div>
                                                <span>6.5 / 10</span>
                                            </li>
                                            <li>
                                                <div class="bar" data-value="92">
                                                    <h5>Quality</h5>
                                                </div>
                                                <span>9.2 / 10</span>
                                            </li>
                                            <li>
                                                <div class="bar" data-value="100">
                                                    <h5>Creative</h5>
                                                </div>
                                                <span>10 / 10</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SKILL -->
            </div>
        </section>
            <!-- END SERVICES -->