  <!-- BEGIN SERVICES -->
  <section id="services">
    <div class="section-wrapper">
        <div class="section-title">
            <h2 class="title animatez" data-effect="fadeInDown">TRUST AND INTEGRITY</h2>
            <h4 class="subtitle animatez" data-effect="fadeInUp">driving
                <span class="main-color">commercial real estate</span>&nbsp;investment opportunities</h4>
            </div>
            <hr class="title-break">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- LEFT ICON -->
                        <div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
                            <div class="left-icon">
                                <div class="icon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <div class="left-content">
                                    <h4>
                                        <strong>Client Services</strong>
                                    </h4>
                                    <p>Sissy offers comprehensive services ranging from market analysis to comprehensive marketing, legal document preparation and pricing negotiations.  Her experience spans from core and core-plus properties to 1031 exchanges, triple-net properties and REOs </p>
                                </div>
                            </div>
                        </div>
                        <!-- LEFT ICON -->
                        <div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
                            <div class="left-icon">
                                <div class="icon">
                                    <i class="fa fa-tasks"></i>
                                </div>
                                <div class="left-content">
                                    <h4>
                                       <strong>Professional Affiliations</strong>
                                   </h4>
                                   <p>National Association of Realtors (NAR), California Association of Realtors (CAR), San Mateo County Association of Realtors (SAMCAR), National Association of Hispanic Real Estate Professionals (NAHREP), Asian Real Estate Association of America (AREAA) </p>
                               </div>
                           </div>
                       </div>
                       <!-- LEFT ICON -->
                       <div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
                        <div class="left-icon">
                            <div class="icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="left-content">
                                <h4>
                                 <strong>Industry Experience</strong>
                             </h4>
                             <p>Prior to Lucky Investment, Sissy closed hundreds of transactions with Prudential Calfornia Realty, Marshall Realty, Patriot Properties and Century 21 Commercial and served as a Vice President of a Chinese development firm</p>
                         </div>
                     </div>
                 </div>
                 <!-- LEFT ICON -->
                 <div class="col-md-4 mg-sm animatez" data-effect="fadeInUp">
                    <div class="left-icon">
                        <div class="icon">
                            <i class="fa fa-sitemap"></i>
                        </div>
                        <div class="left-content">
                            <h4>
                                <strong>Northern California Network</strong>
                            </h4>
                            <p>Sissy has built deep broker relationships in Northern Calfironia over the course of several decades to provide her clients with great investment opportunities and access to a vast property investor network </p>
                        </div>
                    </div>
                </div>
                <!-- LEFT ICON -->
                <div class="col-md-4 mg-sm animatez delay one" data-effect="fadeInUp">
                    <div class="left-icon">
                        <div class="icon">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="left-content">
                            <h4>
                                <strong>Asian Community</strong>
                            </h4>
                            <p>After developing commercial properties in China, Sissy immigrated to the US where she is active in the local community and utilizies Chinese bilingual capabilities in both Habitat for Humanity and Senior House on the Peninsula </p>
                        </div>
                    </div>
                </div>
                <!-- LEFT ICON -->
                <div class="col-md-4 mg-sm animatez delay two" data-effect="fadeInUp">
                    <div class="left-icon">
                        <div class="icon">
                            <i class="fa fa-anchor"></i>
                        </div>
                        <div class="left-content">
                            <h4>
                                <strong>Personal Commitment</strong>
                            </h4>
                            <p>Sissy bring the same level of passion to her clients as she does to her family.  Angel was exposed to music early and played as a professional pianist in the United States Army Reserve band.  She has a B.A. in Psychology from U.C. Berkeley and is a licensed attorney in California.  Joseph has developed a similar passion for music through talent shows and community performances in Millbrae</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer big"></div>
    <!-- BEGIN SKILL -->
    <div class="section-fill bg-parallax bg-skill" style="background-image: url(/images/bg-service.jpg);">
        <div class="fill-wrapper">
            <div class="section-title">
                <h2 class="white animatez" data-effect="fadeInDown">
                    <strong>QUALIFICATIONS</strong>
                </h2>
                <hr class="title-break">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skill-bar">
                            <ul>
                                <li>
                                    <div class="bar" data-value="85">
                                        <h5>Masters in Commercial Real Estate</h5>
                                    </div>
                                    <span>MCRE</span>
                                </li>
                                <li>
                                    <div class="bar" data-value="80">
                                        <h5>Accredited REO agent Certified</h5>
                                    </div>
                                    <span>A-REO</span>
                                </li>
                                <li>
                                    <div class="bar" data-value="75">
                                        <h5>Certified Distressed Seller Resource</h5>
                                    </div>
                                    <span>CDSR</span>
                                </li>
                                <li>
                                    <div class="bar" data-value="70">
                                        <h5>Certified Distressed Property Expert</h>
                                        </div>
                                        <span>CDPE</span>
                                    </li>
                                                <!-- STATIC ( NOT ANIMATED) SKILL BAR 
                                                <li>
                                                    <div class="bar" style="width:100%;">
                                                        <h5>Branding</h5>
                                                    </div>
                                                    <span>10 / 10</span>
                                                </li>
                                                <li>
                                                    <div class="bar" style="width:85%;">
                                                        <h5>Elegant</h5>
                                                    </div>
                                                    <span>8.5 / 10</span>
                                                </li>
                                                <li>
                                                    <div class="bar" style="width:92%;">
                                                        <h5>Quality</h5>
                                                    </div>
                                                    <span>9.2 / 10</span>
                                                </li>
                                                <li>
                                                    <div class="bar" style="width:81%;">
                                                        <h5>Creative</h5>
                                                    </div>
                                                    <span>8.1 / 10</span>
                                                </li>
                                            -->
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="skill-bar">
                                        <ul>
                                           <li>
                                            <div class="bar" data-value="85">
                                                <h5>California Association of Realtors HAFA Certified</h5>
                                            </div>
                                            <span>HAFA</span>
                                        </li>
                                        <li>
                                            <div class="bar" data-value="80">
                                                <h5>Five Star Institute Federation of REO Certified Experts</h5>
                                            </div>
                                            <span>FORCE</span>
                                        </li>
                                        <li>
                                            <div class="bar" data-value="75">
                                                <h5>National Association of Realtors</h5>
                                            </div>
                                            <span>NAR</span>
                                        </li>
                                        <li>
                                            <div class="bar" data-value="70">
                                                <h5>Asian Real Estate Association of America </h5>
                                            </div>
                                            <span>AREAA</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SKILL -->
        </div>
    </section>
            <!-- END SERVICES -->